<h2><%= link_to "Houses", houses_path %></h2>
<h2><%= link_to "Characters", characters_path %></h2>
<h4><%= @house.name %></h4>

<img src="<%= @house.photo_url%>">

<p><%= link_to "Edit House", edit_house_path(@house)%></p>
